#navigation {
  width: 100%;
  background-color: #f4f4f4;
}
#hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.herotext {
  padding-right: 10%;
  vertical-align: middle;
  font-size: 1.5rem;
}
.herotext h1 {
  font-size: 4rem;
  font-weight: 650;
}
.btn-green a {
  font-weight: bold;
}

.herovideo video {
  width: 120%;
}
.glinks {
  color: limegreen;
  font-weight: bold;
}

.capitalistdevils {
  display: flex;
  align-items: baseline;
  padding: 50px;
}

.advanwrapper {
  background-color: #f4f4f4;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

.advan3 {
  display: flex;
}

.advan {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}
.emoji {
  margin: 0 auto;
  padding: 20px;
}
#paychanels {
  padding: 50px 250px 50px 250px;
  text-align: center;
  font-size: 1.5rem;
}

.cardswrapper {
  display: flex;
  flex: 1;
  padding-bottom: 100px;
}

.card-left,
.card-right {
  margin: 0 20px 0 20px;
}

.card-left img.animated-gif {
  width: 100%;
  border-radius: 2%;
}
.card-right img {
  width: 100%;
  border-radius: 2%;
}

#approve {
  height: 100vh;
  background-color: #031033;
  color: white;
}

.p3wrapper {
  display: flex;
  align-items: center;
}

.p3wrapper video {
  padding-top: 50px;
  width: 50%;
}
.p3textbox {
  padding-left: 50px;
}
.p3col {
  display: flex;
}
.p3col-item img {
  padding: 20px 0 20px 0;
}
.svg4 {
  width: 20px;
}

#understand {
  position: relative;
  background-color: #f4f4f4;
  height: 85vh;
  overflow-x: hidden;
}
.p4wrapper {
  background-color: #f4f4f4;
  height: 80vh;
  display: flex;
  align-items: center;
}
.p4textbox {
  margin-right: 100px;
}
.p4subtextbox {
  display: flex;
  padding-top: 50px;
}
.task {
  margin: 0 20px 0 0;
}
.report {
  margin: 0 0 0 20px;
}
#Browser {
  height: 90%;
  margin-right: -450px;
  box-shadow: 0 0 50px #ccc;
}
#bigcompanies {
  margin-bottom: 100px;
}
.p5wapper {
  text-align: center;
}

.p5wapper h1 {
  margin: 50px;
}

.lush {
  display: flex;
  margin-top: 50px;
}
.lush video {
  width: 80%;
}
.p5textbox {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
  font-size: 1.5rem;
  padding: 100px 0 100px 100px;
}

.p5textbox img {
  width: 200px;
  margin-bottom: 50px;
}

.p5cards {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  text-align: left;
}
.p5cards p {
  margin: 20px 0 20px 0;
}
.p5cards img {
  width: 100%;
  border-radius: 2%;
}

#getstarted {
  width: 100%;
  height: 30vh;
  background-color: #0abf53;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pagefooter {
  width: 100%;
  background-color: #031033;
  padding-top: 100px;
  padding-bottom: 50px;
}

.pgfoot {
  background-color: #031033;
  color: white;
  display: flex;
  width: 100%;
}
.lastpage {
  list-style-type: none;
}
.listheader {
  font-weight: bold;
}
.lastpage li {
  margin: 10px;
}
.lastpage li a {
  color: inherit;
  text-decoration: none;
}
.footericon {
  display: flex;
  gap: 20px;
}
.footericon a {
  color: inherit;
}
.lastpart {
  color: grey;
  font-size: small;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
